{{> header }}
<div class="collapse navbar-collapse" id="main-menu">
  <div class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/playoff">Playoff</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/scorers">Scorers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/standings">Standings</a>
    </li>
  </div>
</div>
</div>
</nav>
<div class="container-fluid p-5">
  <div class="row g-4">
    {{> groups group="A" item=A }}
    {{> groups group="B" item=B }}
    {{> groups group="C" item=C }}
    {{> groups group="D" item=D }}
    {{> groups group="E" item=E }}
    {{> groups group="F" item=F }}
    {{> groups group="G" item=G }}
    {{> groups group="H" item=H }}
  </div>
</div>
{{> footer }}