{{> header }}
<div class="collapse navbar-collapse" id="main-menu">
    <div class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/playoff">Playoff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/scorers">Scorers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/standings">Standings</a>
        </li>
    </div>
</div>
</div>
</nav>
<div class="playoff-table">
    <div class="playoff-table-content">
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Netherlands<span class="score">3</span></div>
                    <div class="playoff-table-right-player">USA<span class="score">1</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Argentina<span class="score">2</span></div>
                    <div class="playoff-table-right-player">Australia<span class="score">1</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Japan<span class="score">1(1)</span></div>
                    <div class="playoff-table-right-player">Croatia<span class="score">2(1)</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Brazil<span class="score">4</span></div>
                    <div class="playoff-table-right-player">South Korea<span class="score">1</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">England<span class="score">3</span></div>
                    <div class="playoff-table-right-player">Senegal<span class="score">0</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">France<span class="score">3</span></div>
                    <div class="playoff-table-right-player">Poland<span class="score">1</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Marocco<span class="score">1(0)</span></div>
                    <div class="playoff-table-right-player">Spain<span class="score">0(0)</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Portugal<span class="score">6</span></div>
                    <div class="playoff-table-right-player">Switzerland<span class="score">1</span></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Netherlands<span class="score">2(2)</span></div>
                    <div class="playoff-table-right-player">Argentina<span class="score">3(2)</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Croatia<span class="score">2(0)</span></div>
                    <div class="playoff-table-right-player">Brazil<span class="score">1(0)</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">England<span class="score">1</span></div>
                    <div class="playoff-table-right-player">France<span class="score">2</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Marocco<span class="score">1</span></div>
                    <div class="playoff-table-right-player">Portugal<span class="score">0</span></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Argentina<span class="score">3</span></div>
                    <div class="playoff-table-right-player">Croatia<span class="score">0</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">France<span class="score">2</span></div>
                    <div class="playoff-table-right-player">Marocco<span class="score">0</span></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"><b>Argentina</b><span class="score">4(2)</div>
                    <div class="playoff-table-right-player">France<span class="score">3(2)</div>
                </div>
                <div class="playoff-table-third-place playoff-table-pair-style">
                    <div class="playoff-table-left-player">Croatia<span class="score">2</span></div>
                    <div class="playoff-table-right-player">Marocco<span class="score">1</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}